body{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--fundo);
}

.cabecalho-menu-gestao{
    width: 90%;
    height: 60px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    background: var(--roxo);
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
    border-radius: 8px;
}

.conteudo{
    width: 100%;
    min-height: 500px;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

@media screen and (max-width: 500px){
    .conteudo{
        min-height: 650px;
    }
}