:root{
    /*Tons de branco*/
    --fundo: rgb(241, 245, 247);
    --branco: #fff;
    --branco-escuro: rgb(230, 230, 230);

    /*Tons de roxo*/;
    --roxo: rgb(93, 60, 201);
    --roxo-escuro: rgb(77, 42, 189);
    --roxo-claro: rgba(55, 3, 145, 0.06);

    /*Tons de verde*/
    --verde: #00a000;
    --verde-escuro: green;


    /*Tons de preto*/
    --preto: #000;
    --preto-claro: #222;
    --preto-sobreposicao: rgba(0, 0, 0, 0.35);
    --cinza: rgb(84, 84, 84);
}

/*Templates*/
p, h1, h2, h3, label, span, a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: var(--cinza);
    margin: 0;
    text-decoration: none;
}


button{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 15px calibri;
    font-weight: bold;
    color: white;
    background:  var(--roxo);
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 20%);
    cursor: pointer;
}

button:hover{background:  var(--roxo-escuro);}

input, select, textarea{
    border-radius: 6px;
    padding-left: 10px;
    cursor: pointer;
    color: var(--cinza);
    background: var(--roxo-claro);
    border: 1px solid var(--branco-escuro);
}

input:hover, select:hover, textarea:hover{border: 1px solid var(--roxo);}

.icon-cabecalho{
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.icon-esconder{
    width: 20px;
    margin-right: 15px;
    cursor: pointer;
}