.container-pedidos{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.tabela-produtos{
    margin-top: 40px;
    width: 50%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
    padding-bottom: 15px;
    border-radius: 7.5px;
}

.cabecalho-tabela-produtos{
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filtrar-pedidos{
    width: 150px;
    height: 40px;
    margin: 20px 0;
    padding-left: 10px;
    background: rgb(250, 250, 250);
    border: 1px solid rgb(201, 201, 201);
    color: rgb(80, 80, 80);
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold
}

.linha-tabela-produtos{
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coluna-principal-1, .coluna-principal-2, .coluna-principal-3, .coluna-principal-4, .coluna-principal-5,
.coluna-1, .coluna-2, .coluna-3, .coluna-4, .coluna-5{
    display: flex;
    align-items: center;
    width: 17.5%;
}

.coluna-principal-1, .coluna-principal-2, .coluna-principal-3, .coluna-principal-4,
.coluna-principal-5{
    background: rgb(79, 48, 179);
    border-radius: 6px;
    height: 50px;
    margin-bottom: 10px;
    border: 1px solid #fff;
}

.coluna-1, .coluna-2, .coluna-3, .coluna-4, .coluna-5{padding-bottom: 10px;}

.coluna-2, .coluna-principal-2{width: 15%;}
.coluna-3, .coluna-principal-3{width: 17.5%;}
.coluna-4, .coluna-principal-4{width: 20%;}

.coluna-5, .coluna-principal-5{width: 27.5%; justify-content: center;}

.texto-tabela-produtos-principal, .texto-tabela-produtos{
    margin: 0;
    margin-left: 10px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.texto-tabela-produtos{color: rgb(56, 56, 56);}

.btn-detalhe{
    width: 75%;
    background: rgb(79, 48, 179);
}

.btn-detalhe:hover{background: rgb(11, 87, 168);}

/*Detalhamento*/
.detalhe-pedido{
    width: 40%;
    left: 55%;
    display: none;
    position: absolute;
    z-index: 2;
    margin-top: 40px;
    background: transparent;
    border-bottom: 40px solid transparent;
}

.margem-detalhe-pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    height: auto;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%), 0 8px 16px rgb(0 0 0 / 15%);
    padding-bottom: 20px;
    border-radius: 6px;
}

.cabecalho-detalhe-pedido{
    width: 90%;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
}

.info-detlahe-pedido{
    width: 90%;
}

.subtitulo-detalhe-pedido, .texto-detalhe-pedido{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin: 0;
}

.subtitulo-detalhe-pedido{
    font-weight: bold;
    color: rgb(70, 0, 128);
}

.texto-detalhe-pedido{
    color: rgb(84, 84, 84);
    margin-bottom: 10px;
    width: 80%;
}

.itens-detalhe-pedido{
    width: 100%;
}

.linha-item-detalhe-pedido{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    background: rgb(89, 0, 255, 0.09);
}

.linha-item-detalhe-pedido:nth-child(2){padding: 10px 0;}

.coluna-1-detalhe, .coluna-2-detalhe, .coluna-3-detalhe, .coluna-4-detalhe{
    display: flex;
    align-items: center;
}

.coluna-1-detalhe{width: 30%; justify-content: center;}
.coluna-2-detalhe{width: 45%;}
.coluna-3-detalhe{width: 10%;}
.coluna-4-detalhe{width: 25%;}

.texto-item-detalhe-pedido{
    margin: 0;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13.5px;
    color: rgb(87, 87, 87);
}

.btns-detalhe-pedido{
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.btn-confirmar, .btn-recusar{
    width: 40%;
    margin: 15px 10px 0 0;
}

.btn-recusar{background: transparent; color: red;}

.btn-confirmar:hover{background: rgb(1, 100, 1);}
.btn-recusar:hover{text-decoration: underline;}


@media screen and (max-width: 1000px){
    .tabela-produtos{
        width: 100%;
    }

    .detalhe-pedido{
        width: 90%;
        left: 5%;
    }
}

@media screen and (max-width: 525px){
    .filtrar-pedidos{
        width: 50%;
        height: 50px;
    }

    .coluna-principal-1, .coluna-principal-2, .coluna-principal-3, .coluna-principal-4, .coluna-principal-5{
        display: none;
    }

    .texto-tabela-produtos{margin: 0;}

    .coluna-1, .coluna-2, .coluna-3{width: 35%; padding: 0;}
    .coluna-2{justify-content: left; width: 10%;}
    .coluna-3{width: 45%; justify-content: right;}
    .coluna-4{width: 35%;}
    .coluna-5{width: 55%; justify-content: right;}

    .coluna-4, .coluna-5{padding: 10px 0 0 0; margin-bottom: 30px;}

    .btn-detalhe{width: 100%;}

}