/*---------- Container Cadastro ---------*/
.container-cadastro{
    width: 100%;
    height: 100%;
    background: var(--preto-sobreposicao);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    z-index: -1;
}

.container-cadastro.ativo{
    opacity: 1;
    z-index: 3;
}

.form-cadastro{
    width: 610px;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 7.5px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%), 0 8px 16px rgb(0 0 0 / 25%);
}

.cadastro-titulo, .step, .footer-form-cadastro{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.cadastro-titulo{
    justify-content: space-between;
    margin-bottom: 20px;
}

.step{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.footer-form-cadastro{
    width: 90%;
    height: 20%;
}

.cadastro-titulo-texto{
    font-size: 17.5px;
    font-weight: bold;
}

.divisor, .divisor-1, .divisor-2{
    width: auto;
    height: 20%;
    display: flex;
    flex-direction: column;

}

.margem-data-nascimento{
    height: 100%;
    display: flex;
}

.label-form-cadastro{
    margin-bottom: 2.5px;
}

.input-form-cadastro-1, .input-form-cadastro-2, .input-form-cadastro-3, .input-form-cadastro-4,
.input-form-cadastro-5, .input-form-cadastro-senha, .linha-senha-cadastro, .linha-cep{
    width: 250px;
    height: 45px;

}

.input-form-cadastro-2{
    width: 165px;
}

.input-form-cadastro-3{
    width: 100px;
}

.input-form-cadastro-4{
    height: 100%;
    width: 175px;
}

.input-form-cadastro-5{
    width: 30%;
    margin-left: 10px;
}

.input-form-cadastro-5:nth-child(1){margin-left: 0;}

.linha-senha-cadastro{
    background: transparent;
    position: relative;
    margin-left: 10px;
}

.input-form-cadastro-senha{
    width: 100%;
    height: 100%;
    margin-left: -10px;
}

.linha-cep{
    display: flex;
    width: auto;
    position: relative;
    padding-left: 0px;
    background: transparent;
}

.btn-cadastro{
    background: var(--verde);
    width: 25%;
    height: 55%;
}

.btn-cadastro:hover{background: var(--verde-escuro);}

.btn-voltar{
    width: 20%;
    height: 55%;
    margin-right: 25px;
}

.btn-limpar{
    width: 30px;
    height: 30px;
}

.btn-cep{
    width: 35%;
    height: 100%;
    position: absolute;
    top: 55%;
    right:  0;
    transform: translateY(-50%);
    border-radius: 0 6px 6px 0;
}


/* ----------- Form Login ------------------ */
.container-login{
    width: 100%;
    height: 100%;
    background: var(--preto-sobreposicao);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    z-index: -1;
}

.container-login.ativo{
    opacity: 1;
    z-index: 3;
}

.form-login{
    width: 275px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--branco);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 8px 16px rgb(0 0 0 / 30%);
}

.div-form-login, .footer-form-login{
    width: 85%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-form-login{height: 17.5%;}

.linha-login{
    width: 100%;
    height: 40%;
    position: relative;
}

.input-form-login{
    width: 95%;
    height: 100%;
}

.btn-login{
    width: 100%;
    height: 100%;
    font-size: 17.5px;
}

/*Trocar senha*/
.container-trocar-senha{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background: var(--preto-sobreposicao);
    opacity: 0;
    z-index: -1;
}

.container-trocar-senha.ativo{
    opacity: 1;
    z-index: 3;
}

.form-trocar-senha{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--branco);
    border-radius: 5px;
}

.cabecalho-trocar-senha{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-esconder{width: 25px; margin-right: 10px;}

.cadastro-titulo-texto{
    font: 17.5px calibri;
    font-weight: bold;
}

.divisor-inputs-trocar-senha{width: 90%;}

.inputs-trocar-senha{
    width: calc(100% - 15px);
    height: 40px;
    margin-top: 10px;
}

.exibir-senha-texto{
    margin: 10px 0 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.linha-check{
    display: flex;
    align-items: center;
}

.check{
    width: 15px;
    height: 15px;
    margin-top: 15px;
    margin-right: 10px;
    border: 1px solid var(--branco);
    border-radius: 6px;
}

.divisor-btn-trocar-senha{width: 90%;}

.btn-alterar-senha{
    width: 100%;
    height: 45px;
    margin: 20px 0;
}

@media screen and (max-width: 800px) {
    .icon-esconder{
        margin-bottom: 10px;
        margin-left: 82%;
    }

    .container-cadastro, .container-login{
        flex-direction: column;
    }

    .form-cadastro{
        height: 400px;
        width: 90%;
    }

    .step{
        align-items: center;
    }

    .footer-form-cadastro{height: 10%;}

    .cadastro-titulo{
        width: 90%;
        margin: 0;
    }

    .cadastro-titulo-texto{margin: 0;}

    .step{
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
    }

    .divisor, .divisor-1, .divisor-2{
        width: 45%;
        margin: 0;
        height: auto;
        margin-bottom: auto;
    }

    .input-form-cadastro-1, .input-form-cadastro-2,
    .input-form-cadastro-3, .input-form-cadastro-4, .linha-senha-cadastro{
        width: 95%;
    }

    .input-form-cadastro-5{margin-left: auto;}

    .btn-cadastro, .btn-voltar{
        width: 60%;
        height: 60%;
        margin-left: 0;
        margin-right: 8px;
    }

    .btn-voltar{
        width: 30%;
    }

    .icon-input{
        width: 22px;
    }
}

@media screen and (max-width: 550px) {
    .form-cadastro{
        height: 625px;
    }

    .divisor, .divisor-1, .divisor-2{
        width: 88%;
    }

    .divisor-1{width: 30%;}

    .divisor-2{width: 48%;}

    .form-login{width: 330px; height: 230px;}

    .container-trocar-senha{flex-direction: column;}

    .form-trocar-senha{
        width: 90%;
    }

    .icon-esconder{margin-left: 85%; margin-bottom: 10px;}
}

@media screen and (max-width: 450px) {
   .form-login{width: 90%;}
}