/*------------------  Carrinho  --------------------*/
.cabecalho{
    width: 90%;
    height: auto;
    background: var(--branco);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    margin-top: 25px;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.nav-atalhos, .nav-pesquisa{
    width: 95%;
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.nav-pesquisa{
    position: absolute;
    justify-content: left;
}

.linha{
    width: 40%;
    height: 40px;
    position: relative;
}

.input-pesquisar{
    width: 100%;
    height: 100%;
}

.btn-pesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: -10px;
    height: 100%;
    width: 50px;
    background: transparent;
    position: absolute;
}

.icon-lupa{width: 28px}

.aCarrinho{
    display: flex;
    align-items: center;
    height: auto;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.quantidade-carrinho{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--roxo);
    font-size: 17.5px;
    color: var(--branco);
    margin-top: -20px;
    margin-left: -5px;
    border-radius: 25%;
}

.margem{
    height: 5px;
    width: 100%;
    background-image: linear-gradient(to right, var(--roxo), var(--ciano));
    border-radius: 0 0 8px 8px;
}

/*------------------  Footer  --------------------*/
.rodape{
    width: 100%;
    height: auto;
    background: var(--roxo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.div-info, .div-redes{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}

.div-redes{
    width: 100%;
    background: var(--roxo-escuro);
    height: 40%;
    margin: 0;
}

.info{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo, .titulo-1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    margin: 15px 0;
}

.texto, .texto-1{color: var(--branco-escuro);}

.texto-1{cursor: pointer;}

.div-imgs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.icon{
    width: 35px;
    height: 35px;
    margin: 0px 7.5px;
}

.btn-menu{
    position: absolute;
    left: 0;
    display: none;
}

@media screen and (max-width: 800px) {

    .nav-atalhos{
        flex-direction: row;
    }

    .linha{
        width: 55%;
        left: 40px;
    }

    .info{
        width: 50%;
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 500px) {
    .nav-atalhos, .nav-pesquisa{
        width: 90%;
        height: 60px;
    }

    .nav-pesquisa{
        position: initial;
        height: 50px;
    }

    .linha{
        width: 95%;
        top: -10px;
        left: 0;
    }

    .info{width: 100%;}
}