:root{
    /*Tons de branco*/
    --fundo: rgb(241, 245, 247);
    --branco: #fff;
    --branco-escuro: rgb(230, 230, 230);

    /*Tons de roxo*/;
    --roxo: rgb(93, 60, 201);
    --roxo-escuro: rgb(63, 34, 160);
    --roxo-claro: rgba(55, 3, 145, 0.06);
    --ciano: rgb(48, 188, 207);
    --ciano-escuro: rgb(13, 125, 129);

    /*Tons de verde*/
    --verde: #00a000;
    --verde-escuro: green;
    --verde-claro: rgb(3, 208, 71);

    /*Tons de preto*/
    --preto: #000;
    --preto-claro: #222;
    --preto-sobreposicao: rgba(0, 0, 0, 0.35);
    --cinza: rgb(84, 84, 84);
}

/*Templates*/
p, h1, h2, h3, label, span, a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: var(--cinza);
    margin: 0;
    text-decoration: none;
}


button{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 15px calibri;
    font-weight: bold;
    color: white;
    background:  var(--roxo);
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 8px 16px rgb(0 0 0 / 20%);
    cursor: pointer;
}

button:hover{background:  var(--roxo-escuro);}

input, select{
    border-radius: 6px;
    padding-left: 10px;
    cursor: pointer;
    color: var(--cinza);
    background: var(--roxo-claro);
    border: 1px solid var(--branco-escuro);
}

input:hover{border: 1px solid var(--roxo);}

.icon-abrir-menu, .icon-abrir-menu-md{
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

.icon-abrir-menu-md{
    position: absolute;
    top: 15px;
    left: 15px;
}

.icon-fechar-menu{
    width: 25px;
    cursor: pointer;
    margin: 0 20px;
    display: none;
}

.icon-esconder{
    width: 20px;
    margin-right: 15px;
    cursor: pointer;
}

.icon-input{
    width: 25px;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}