body{
    padding: 0;
    margin: 0;
}

.container-sections{
    width: 90%;
    min-height: 530px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.header-produto, .section-produto, .section-propaganda{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}

.section-propaganda{
    width: auto;
}

.texto-titulo-section{
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 22px;
}

.btn-limpar-pesquisa{
    width: 150px;
    height: 40px;
}

.texto-titulo-section, .btn-limpar-pesquisa{
    margin: 20px 1%;
}

.img-propaganda{
    width: 100%;
    margin-bottom: 3%;
}

.produto{
    width: 22%;
    margin: 0 1% 1% 1.5%;
    height:  425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border: 1px solid rgb(228, 225, 225);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.produto:hover{
    border: 1px solid rgb(79, 48, 179);
}

.link{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.promo-produto, .img-produto, .desc-produto, .valor-produto, .adciona-carrinho{
    width: 85%;
    height: 10%;
    display: flex;
    align-items: center;
}

.numero-promo, .texto-promo{
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #00a000;
}

.texto-promo{
    margin-left: 5px;
    color: #222222;
}

.img-produto{
    justify-content: center;
    width: 90%;
    height: 57.5%;
}

.desc-produto{
    height: 20%;
    overflow: hidden;
    font: 15px "Open Sans",Arial,Helvetica,sans-serif;
    text-transform: capitalize;
    color: rgb(37, 36, 36);
    text-align: left;
}

.valor-produto{
    height: 12.5%;
    flex-direction: column;
    align-items: flex-start;
}

.valor-base, .valor-desconto, .base{
    margin: 0;
    display: flex;
    font: 14px calibri;
    color: rgb(115, 115, 115);
}

.valor-base{text-decoration:line-through;}

.valor-desconto{
    font: 20px "Open Sans",Arial,Helvetica,sans-serif;
    letter-spacing: -1px;
    color: #00a000;
    font-weight: bold;
}

.adciona-carrinho{
    width: 100%;
    background: #00a000;
    height: 10%;
    justify-content: center;
    font: 13px cambria;
    color: white;
    text-transform: uppercase;
    border-radius: 0 0 8px 8px;
    cursor: pointer;
    border: none;
}

.adciona-carrinho:hover{
    background: rgb(3, 114, 3);
}


@media screen and (max-width: 1000px) {
    .section-produto{
        justify-content: space-between;
    }

    .texto-titulo-section, .btn-limpar-pesquisa{
        margin: 20px 0;
    }

    .produto{
        width: 47%;
        margin: 0 0 5%;
    }
}

@media screen and (max-width: 500px) {
    .produto{width: 100%; margin: 0 0 10%;}
}