/*Templates*/
button{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 15px calibri;
    font-weight: bold;
    color: white;
    background: rgb(94, 61, 202);;
    border-radius: 6px;
    border: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 25%), 0 8px 16px rgb(0 0 0 / 25%);
    cursor: pointer;
}

button:hover{
    background: rgb(62, 38, 140);
}

.icon-abrir-menu{
    width: 25px;
    top: 20px;
    left: 15px;
    position: absolute;
    cursor: pointer;
    display: none;
}

.icon-fechar-menu{
    width: 25px;
    cursor: pointer;
    margin: 0 20px;
    display: none;
}

/*layout*/
body{
    margin: 0px;
    background: rgb(241, 245, 247);
    display: flex;
    min-height: 700px;
    max-height: 50000px;
}

.container-menu, .container-conteudo{
    height: 100%;
    width: 17.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-menu{
    position: fixed;
    flex-direction: row;
    justify-content: left;
    box-shadow: 0 2px 4px rgb(0 0 0 / 75%), 0 8px 16px rgb(0 0 0 / 75%);
    background: rgba(0, 0, 0, 0.468);
}

.container-conteudo{
    margin-left: 17.5%;
    width: 82.5%;
}

.nav-menu{
    background-image: linear-gradient(to bottom, rgb(79, 48, 179), rgb(48, 188, 207));
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.menu-links, .header-menu, .menu-login{
    width: 90%;
    height: 82.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.header-menu{
    height: 7.5%;
    width: 78%;
    color: white;
    font: 30px helvetica;
    font-weight: bold;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.menu-login{
    width: 100%;
    height: 10%;
    justify-content: center;
    background: transparent;
}

.p-login-cadastro, .p-login-sair, .a-login-cadastro{
    font: 16px calibri;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.p-login-sair{
    display: none;
}

.a-login-cadastro{
    color: rgb(21, 205, 211);
    cursor: pointer;
    font-weight: bold;
}

.a-login-cadastro:hover{
    color: rgb(13, 125, 129);
}

.usuario-logado{
    color: rgb(21, 205, 211);
    text-transform: uppercase;
    font-family: helvetica;
    font-weight: bold;
}

.item-menu{
    width: 100%;
    height: 8%;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: none;
}

.item-menu:hover{
    background: rgb(42, 24, 103);
    width: 90%;
}

.img-menu, .texto-menu{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-menu{
    width: 75%;
    justify-content: left;
    font: 20px 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.icon-menu{
    width: 25px;
}

.menu{
    display: none;
}


@media screen and (max-width: 800px) {
    .menu[type = "checkbox"]:checked~.container-menu{
        transform: translateX(100%);
    }

    .container-menu{
        width: 100%;
        left: -100%;
        box-shadow: 0 0 0 0;
        background: rgba(0, 0, 0, 0.459);
    }

    .nav-menu{
        width: 45%;
    }

    .container-conteudo{
        width: 100%;
        margin: 0;
    }

    .icon-abrir-menu, .icon-fechar-menu{
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    .nav-menu{
        width: 75%;
    }
}