.container-sections{
    width: 90%;
    min-height: 530px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}

.header-produto, .section-produto{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-produto{flex-direction: row-reverse; align-items: flex-end}
.section-produto{
    justify-content: left;
    margin-top: 20px;
}

.texto-titulo-section{
    color: var(--preto-claro);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0;
}

.filtros{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.linha-filtro{
    height: 35px;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 6px;
    padding: 0 5px;
}

.linha-filtro:nth-child(1){margin-bottom: 10px;}

.escolha-ordenar{
    height: 100%;
    border: none;
    outline: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    color: black;
    background: var(--branco);
}

.icon-filtrar, .icon-ordenar{
    height: 70%;
}

.icon-ordenar{height: 50%;}

.btn-limpar-pesquisa{
    width: 150px;
    height: 40px;
}

.produto{
    width: 22.5%;
    height:  425px;
    margin: 20px 0 0 3.25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--branco);
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.produto:nth-child(4n + 1){margin-left: 0;}

.link{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.promo-produto, .img-produto, .desc-produto, .valor-produto, .adciona-carrinho{
    width: 85%;
    height: 10%;
    display: flex;
    align-items: center;
}

.numero-promo, .texto-promo{
    color: var(--branco);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--verde);
}

.texto-promo{
    margin-left: 5px;
    color: var(--preto-claro);
}

.img-produto{
    justify-content: center;
    width: 90%;
    height: 57.5%;
}

.desc-produto{
    height: 20%;
    overflow: hidden;
    font: 15px "Open Sans",Arial,Helvetica,sans-serif;
    color: var(--cinza);
    text-transform: capitalize;
    text-align: left;
}

.valor-produto{
    height: 12.5%;
    flex-direction: column;
    align-items: flex-start;
}

.valor-base, .valor-desconto, .base{display: flex;}

.valor-base{text-decoration:line-through;}

.valor-desconto{
    font: 20px "Open Sans",Arial,Helvetica,sans-serif;
    letter-spacing: -1px;
    color: var(--verde);
    font-weight: bold;
}

.adciona-carrinho{
    width: 100%;
    background: var(--verde);
    height: 10%;
    font: 13px cambria;
    text-transform: uppercase;
    border-radius: 0 0 8px 8px;
}

.adciona-carrinho:hover{
    background: var(--verde-escuro);
}


@media screen and (max-width: 1000px) {
    .section-produto{justify-content: space-between;}

    .produto{
        width: 47%;
        margin: 0 0 5%;
    }
}

@media screen and (max-width: 500px) {
    .produto{width: 100%; margin: 0 0 10%;}
    .section-produto{margin-top: 35px;}
}